  <% @sum = 0 %>
 <% @cart_items.each do |cart_item| %>
    <tr>
        <em>商品名</em>
        <td><%= cart_item.item.name %></td>
        <em>単価(税込み)</em>
        <td><%= (cart_item.item.tax_excluded_price * 1.1).floor %>円<td>
    <em>小計</em>
    <td><%= (cart_item.item.tax_excluded_price * 1.1).floor * cart_item.amount %></td>
   
    <br>
    </tr>
<%end%> 
<em>送料</em>
<%= @order.shipping_price %>
<em>商品合計</em>
<%= @order.billing_price%>
<em>請求金額</em>
<%= @order.billing_price + @order.shipping_price %>
<em>支払方法</em>
<%= @order.payment_method%>
<em>お届け先</em>
<%=@order.shipping_number%><%=@order.shipping_address %><%=@order.shipping_name%>
<%= form_for @order,url: {action: 'create'} do |f| %>
          <%= f.hidden_field :shipping_price, value: @order.shipping_price %>
          <%= f.hidden_field :payment_method, value: @order.payment_method %>
          <%= f.hidden_field :shipping_number, value: @order.shipping_number %>
          <%= f.hidden_field :shipping_name, value: @order.shipping_name %>
          <%= f.hidden_field :shipping_address, value: @order.shipping_address %>
          <%= f.hidden_field :billing_price, value: @order.billing_price %>
          <%= f.submit "購入を確定する", class:"btn btn-primary" %>
<%end%>

